apiVersion: 1

datasources:
  - name: Metrics Prometheus
    type: prometheus
    access: proxy
    url: https://{{ servers.logs.first }}.{{ domains.main.name }}:9090
    isDefault: false
    editable: true
    jsonData:
      tlsAuth: true
      tlsAuthWithCACert: true
      tlsSkipVerify: false
    secureJsonData:
      tlsCACert: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/root-ca.pem') | indent(8) }}
      tlsClientCert: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/' ~ servers.logs.first ~ '/' ~ servers.logs.first ~ '-crt.pem') | indent(8) }}
      tlsClientKey: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/' ~ servers.logs.first ~ '/' ~ servers.logs.first ~ '-key.pem') | indent(8) }}

  - name: Loki logs
    type: loki
    access: proxy
    url: https://{{ servers.logs.first }}.{{ domains.main.name }}:3100
    isDefault: true
    editable: true
    jsonData:
      tlsAuth: true
      tlsAuthWithCACert: true
      tlsSkipVerify: false
    secureJsonData:
      tlsCACert: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/root-ca.pem') | indent(8) }}
      tlsClientCert: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/' ~ servers.logs.first ~ '/' ~ servers.logs.first ~ '-crt.pem') | indent(8) }}
      tlsClientKey: |
        {{ lookup('ansible.builtin.file', playbook_dir ~ '/client_certificates/' ~ servers.logs.first ~ '/' ~ servers.logs.first ~ '-key.pem') | indent(8) }}