
# See doc/wiki/Variables.txt for full list. Some examples:
#
#   mail_location = maildir:~/Maildir
#   mail_location = mbox:~/mail:INBOX={{ mail_path }}/%u
#   mail_location = mbox:{{ mail_path }}/%d/%1n/%n:INDEX=/var/indexes/%d/%1n/%n

{% if ansible_distribution_major_version == '24' %}
mail_location = "maildir:{{ mail_path }}/%d/%n"
mail_home = "{{ mail_path }}/%d/%n"
{% endif %}
{% if ansible_distribution_major_version == '26' %}
mail_driver = maildir
mail_home = "{{ mail_path }}/%{user | domain}/%{user | username}"
{% endif %}

namespace inbox {
  # Namespace type: private, shared or public
  #type = private

  # There can be only one INBOX, and this setting defines which namespace
  # has it.
  inbox = yes

}

mail_privileged_group = dovecot_mail_user

protocol !indexer-worker {
  # If folder vsize calculation requires opening more than this many mails from
  # disk (i.e. mail sizes aren't in cache already), return failure and finish
  # the calculation via indexer process. Disabled by default. This setting must
  # be 0 for indexer-worker processes.
  #mail_vsize_bg_after_count = 0
}
