DatabaseOwner clamav

UpdateLogFile /var/log/clamav/freshclam.log
LogTime true
LogFileMaxSize 10M
LogRotate false

Foreground false
Debug false
MaxAttempts 5
DatabaseDirectory /var/lib/clamav
DNSDatabaseInfo current.cvd.clamav.net
ConnectTimeout 60
ReceiveTimeout 60
TestDatabases yes
ScriptedUpdates yes
CompressLocalDatabase no
Bytecode true
NotifyClamd /etc/clamav/clamd.conf

Checks 24
DatabaseMirror db.local.clamav.net
DatabaseMirror https://database.clamav.net