/^Content-Transfer-Encoding:/i PREPEND List-Unsubscribe: <mailto:unsubscribe@{{ domains.main.name }}?subject=unsubscribe>, <https://{{ domains.main.name }}/unsubscribe>
/^Content-Transfer-Encoding:/i PREPEND List-Unsubscribe-Post: List-Unsubscribe=One-Click