smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no
append_dot_mydomain = no
readme_directory = no
compatibility_level = 3.6
message_size_limit = 1073741824
mailbox_size_limit = 21474836480

# --- INBOUND ---
smtpd_tls_security_level = encrypt
smtpd_tls_auth_only = yes
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ current_bind_domain_for_cert }}/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ current_bind_domain_for_cert }}/privkey.pem 
tls_server_sni_maps = hash:/etc/postfix/sni-map.map
smtpd_tls_ask_ccert = no
smtpd_tls_req_ccert = no

# --- OUTBOUND ---
smtp_tls_security_level = encrypt
smtp_tls_loglevel = 1
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache 

virtual_mailbox_domains = mysql:/etc/postfix/mysql-virtual-domains.cf
virtual_mailbox_maps = mysql:/etc/postfix/mysql-virtual-mailbox-maps.cf

virtual_minimum_uid = 100
virtual_uid_maps = static:5000
virtual_gid_maps = static:5000

virtual_transport = lmtp:unix:private/dovecot-lmtp

# sender_canonical_maps = mysql:/etc/postfix/mysql-sender-canonical.cf
smtpd_sender_login_maps = mysql:/etc/postfix/mysql-sender-login.cf
smtpd_sender_restrictions = reject_sender_login_mismatch

# if want to add mailing via script can use cert instead of passwd
# smtpd_tls_ask_ccert = yes
# smtpd_tls_req_ccert = no
# smtp_tls_CAfile={{ clients_cert_dir }}/root-ca.pem

# SASL authentication
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes

smtpd_relay_restrictions = 
    permit_mynetworks, 
    permit_sasl_authenticated, 
#    permit_tls_clientcerts, 
    reject_unauth_destination

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

myhostname = {{ current_bind_domain_for_cert }}
mydomain = {{ current_bind_domain }}
myorigin = ''
mydestination = localhost
mynetworks = 127.0.0.0/8

relayhost = {{ relay_host }}
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4

sender_dependent_default_transport_maps = pcre:/etc/postfix/sender-transport.pcre
smtp_sender_dependent_authentication = yes

#local transporting
transport_maps = pcre:/etc/postfix/local-transport.pcre

maillog_file = /var/log/mail.log

smtpd_milters = inet:localhost:11332, inet:{{ servers.logs.first }}.{{ domains.main.name }}:7357
non_smtpd_milters = $smtpd_milters
milter_protocol = 6
milter_default_action = accept

header_checks = regexp:/etc/postfix/list_unsub_header   