user = {{ db_username }}
password = {{ db_password }}
hosts = 127.0.0.1
dbname = {{ db_name }}
query = SELECT CONCAT('maildir:{{ mail_path }}/', domains.domain, '/', users.username) as maildir FROM {{ db_table_users }} INNER JOIN {{ db_table_domains }} ON {{ db_table_domains }}.id_domain = {{ db_table_users }}.domain WHERE (CONCAT(username, '@', domains.domain) = '%s') AND active='Y'
