{% for item in cert_and_mail_data | default([]) %}
{{ item.cert_domain }} /etc/letsencrypt/live/{{ item.cert_domain }}/privkey.pem /etc/letsencrypt/live/{{ item.cert_domain }}/fullchain.pem
{% endfor %}