#!/bin/bash
DB_NAME="{{ db_name }}"
RECIPIENT="{{ db_username }}"

BACKUP_DIR="/tmp"

DEST_LOGIN="{{ backup_user }}"
# SSH_KEY="$HOME/.ssh/logs_rsa" # change it to backup user only
DEST_SERVER="{{ servers.logs.first }}.{{ domains.main.name }}"
DEST_DIR="{{ backup_keys_dir }}"

DATE=$(date +%F)
BACKUP_FILE="$BACKUP_DIR/keys_$DATE.sql.gz.gpg"
LOG_FILE="/var/log/files_backup.log"

mysqldump -u {{ db_username }} -p{{ db_password }} -d $DB_NAME | gzip | gpg --encrypt --recipient "$RECIPIENT" --trust-model always > $BACKUP_FILE

if [ -f "$BACKUP_FILE" ]; then
    BYTES=$(stat -c %s "$BACKUP_FILE")
else
    echo "backup: keys mysql, action: failed, creation error, Backup file was not created." >> "$LOG_FILE"
    exit 1
fi

if scp -i "$SSH_KEY" "$BACKUP_FILE" "$DEST_LOGIN@$DEST_SERVER:$DEST_DIR"; then
    echo "backup: keys mysql, action: successful, transferred: $BYTES, date: $(date '+%Y-%m-%d %H:%M:%S')" >> "$LOG_FILE"
    rm "$BACKUP_FILE"
else
    echo "backup: keys mysql, action: failed, transfer error, date: $(date '+%Y-%m-%d %H:%M:%S')" >> "$LOG_FILE"
    exit 1
fi
