<?php

$config = [];
$config['password_driver'] = 'sql';
$config['password_strength_driver'] = null;
$config['password_confirm_current'] = true;
$config['password_minimum_length'] = 8;
$config['password_minimum_score'] = 3;
$config['password_log'] = true;
{% if ansible_facts['distribution_major_version'] == '24' %}
$config['password_force_new_user'] = true;
{% endif %}
{% if ansible_facts['distribution_major_version'] == '26' %}
$config['password_force_new_user'] = true; # change to false when 2FA will be working
{% endif %}
$config['password_algorithm'] = 'sha512-crypt';
$config['password_disabled'] = false;
$config['password_db_dsn'] = 'mysql://{{ db_username }}:{{ db_password }}@localhost/{{ db_name }}';
$config['password_query'] = 'UPDATE {{ db_table_users }} INNER JOIN {{ db_table_domains }} ON {{ db_table_users }}.domain = {{ db_table_domains }}.id_domain SET {{ db_table_users }}.password = %P WHERE {{ db_table_domains }}.domain = %d AND {{ db_table_users }}.username = %l;';





// https://raw.githubusercontent.com/roundcube/roundcubemail/refs/heads/master/plugins/password/config.inc.php.dist