
dbc_install='true'

dbc_upgrade='true'

dbc_remove='true'

dbc_dbtype='mysql'

dbc_dbuser='{{ roundcube_db_username }}'

dbc_dbpass='{{ roundcube_db_password }}'

dbc_dballow='localhost'

dbc_dbserver='localhost'

dbc_dbport='3306'

dbc_dbname='{{ roundcube_db_name }}'

dbc_dbadmin='debian-sys-maint'

dbc_basepath=''

##
## postgresql specific settings.  if you don't use postgresql,
## you can safely ignore all of these
##

dbc_ssl=''


dbc_authmethod_admin=''
dbc_authmethod_user=''

##
## end postgresql specific settings
##
