#!/bin/bash
DISK_PATH=$1
LONGHORN_FOLDER=$2

if [ -z "$LONGHORN_FOLDER" ]; then
  echo "Error: LONGHORN_FOLDER is required."
  exit 1
fi

if [ -z "$DISK_PATH" ]; then
  echo "Error: DISK_PATH is required."
  exit 1
fi

# 3. Check if DISK_PATH actually exists as a directory
if [ -d "$DISK_PATH" ]; then
  echo "Error: $DISK_PATH already exists."
  exit 1
fi

# 4. Check if LONGHORN_FOLDER actually exists as a directory
if [ -d "$LONGHORN_FOLDER" ]; then
  echo "Error: $LONGHORN_FOLDER already exists"
  exit 1
fi

printf "\n##########################################\n"
printf "BE CAREFUL WHILE DOING THIS HERE, ALWAYS DOUBLE CHECK WHAT YOU ARE DOING\n"
printf "Disk which will be mounted: %s\n" "$DISK_PATH"
printf "Folder for longhorn with that disk: {{ kubernetes_data_path }}/%s\n" "$LONGHORN_FOLDER"
printf "###########################################\n\n"

printf 'mkdir -p "{{ kubernetes_data_path }}/%s"\n\n' "$LONGHORN_FOLDER"

printf "!!!!!!!ONLY IF ENTIRE DISK IS EMPTY!!!!!!!\n"
printf "sudo wipefs -a %s\n" "$DISK_PATH"
printf "!!!!!!!ONLY IF ENTIRE DISK IS EMPTY!!!!!!!\n\n"

printf "!!!!!!!ONLY IF ENTIRE DISK IS EMPTY!!!!!!!\n"
printf "sudo fdisk %s\n\n" "$DISK_PATH"

printf '\nThen press "g" for GPT partition\n'
printf "!!!!!!!ONLY IF ENTIRE DISK IS EMPTY!!!!!!!\n\n"

printf '"n" for new partition, then press "enter" 3 times to create partition on entire free space, then press "w" to exit and save\n\n'

printf "sudo mkfs.ext4 %s\n\tand add partition number to disk path at the end like this /dev/sda1\n\n" "$DISK_PATH"

printf "sudo mount %s {{ kubernetes_data_path }}/%s\n\t( + partition number)\n\n" "$DISK_PATH" "$LONGHORN_FOLDER"

printf "ls /dev/disk/by-uuid/ -la\n"
printf "echo \"/dev/disk/by-uuid/uuid-of-disk-here {{ kubernetes_data_path }}/%s ext4 defaults 0 2\" | sudo tee -a /etc/fstab\n" "$LONGHORN_FOLDER"

printf "\n\n"
exit 0