apiVersion: v1
kind: Pod
metadata:
  name: registry-cache
  namespace: kube-system
spec:
  containers:
  - name: registry
    image: registry:3.0.0
    ports:
    - containerPort: 5000
      hostPort: 5000
    env:
    - name: REGISTRY_HTTP_ADDR
      value: 0.0.0.0:5000
    - name: REGISTRY_HTTP_TLS_CLIENTCA
      value: /certs/root-ca.pem
    - name: REGISTRY_HTTP_TLS_CERTIFICATE
      value: /certs/client-crt.pem
    - name: REGISTRY_HTTP_TLS_KEY
      value: /certs/client-key.pem
    volumeMounts:
    - name: storage
      mountPath: /var/lib/registry
    - name: tls-certs
      mountPath: /certs
      readOnly: true
  volumes:
  - name: storage
    hostPath:
      path: "{{ docker_images_dir }}"
  - name: tls-certs
    hostPath:
      path: "{{ clients_cert_dir }}"