auth_enabled: false

server:
  http_listen_address: 0.0.0.0
  http_listen_port: 3100
  http_tls_config:
    cert_file: {{ loki_cert_dir }}/server-crt.pem
    key_file: {{ loki_cert_dir }}/server-key.pem
    client_auth_type: "RequireAndVerifyClientCert"
    client_ca_file: {{ root_ca_dir }}/root-ca.pem
  grpc_listen_port: 9096
  grpc_listen_address: 127.0.0.1
  grpc_server_max_concurrent_streams: 1000
  log_level: info

common:
  instance_addr: 127.0.0.1
  path_prefix: /var/lib/loki
  storage:
    filesystem:
      chunks_directory: /var/lib/loki/chunks
      rules_directory: /var/lib/loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

ingester:
  chunk_idle_period: 15m
  chunk_target_size: 1572864 # 1.5MB
  max_chunk_age: 2h

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

limits_config:
  max_query_lookback: 720h
  metric_aggregation_enabled: true
  enable_multi_variant_queries: true
  retention_period: 30d

compactor:
  working_directory: /var/lib/loki/retention
  compaction_interval: 10m
  retention_enabled: true
  delete_request_store: filesystem

pattern_ingester:
  enabled: false
  metric_aggregation:
    loki_address: 127.0.0.1:9096

ruler:
  alertmanager_url: http://localhost:9093
  storage:
    type: local
    local:
      directory: /var/lib/loki/rules

frontend:
  encoding: protobuf

analytics:
  reporting_enabled: false